extends ../base

block content 
    video(src="/"+video.videoFile, controls ) 
    div
        p=video.description
        small=video.createdAt 
    hr
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;