.social-login{
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 50px;
    .social__button--github{
        background-color: transparent;
        color: azure;
    }

}