extends base.pug

block content 
    form(method="POST")
        input(placeholder="Name", name="name", type="txet", value=loggedInUser.name)
        input(placeholder="Email",name="email",type="email", value=loggedInUser.email)
        input(placeholder="Username",name="username",type="txet", value=loggedInUser.username)
        input(placeholder="Location",name="location",type="txet", value=loggedInUser.location)
        input(type="submit", value="Edit Profile")