extends base.pug
include mixins/video

block content 
    div.video__grid
        each video in videos
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
            +video(video)
        else 
            span Sorry not found.