extends base
    
block content 
    if errorMessage
        span=errorMessage
    form(method="post") 
        input(type="text", placeholder="Name ", name="name", required)    
        input(type="email", placeholder="Email ", name="email", required)    
        input(type="text", placeholder="Username ", name="username", required)    
        input(type="password", placeholder="Password ", name="password", required)
        input(type="password", placeholder="Confirm Password", name="password2", required)    
        input(type="text", placeholder="location", name="location")    
        input(type="submit", value="Join")
        include partials/social-login 
    div     
        span Already have an account? 
        a(href="/login") Log in &rarr;