extends base
    
block content 
    if errorMessage
        span=errorMessage
    form(method="post") 
        input(type="text", placeholder="Username ", name="username", required)    
        input(type="password", placeholder="Password ", name="password", required)
        input(type="submit", value="Login")
    br
    div 
         a(href="/users/github/start") Github Login &rarr;
    div     
        span Don't have an account? 
        a(href="/join") Create an account. &rarr;