header 
    a(href="/")
        i.fab.fa-youtube 
        nav
            ul
                li    
                    a(href="/") HOME
                li    
                    a(href="/search") Search
                if loggedIn
                    li
                        a(href=`/users/${loggedInUser._id}`) My Profile
                    li
                        a(href="/videos/upload") Upload Video
                    li    
                        a(href="/users/logout") Log out
                    li    
                        a(href="/users/edit") Edit Profile
                else    
                    li    
                        a(href="/join") Join
                    li    
                        a(href="/login") Login    